In [ ]:
lista = [100, 200, 300]

In [1]:
tupla = (100, 200, 300)
print(tupla)

(100, 200, 300)

In [3]:
tupla = (100, 200, 300)
print(tupla)

print(tupla[0])
print(tupla[1])
print(tupla[2])

for k in tupla:
    print(k)

(100, 200, 300)
100
200
300
100
200
300

In [14]:
tupla_tupla = (4,5,6),(7,8)
print(tupla_tupla)
print(tupla_tupla[0][2])
print(tupla_tupla[1])


for m in tupla_tupla:
    print(m)

((4, 5, 6), (7, 8))
6
(7, 8)
(4, 5, 6)
(7, 8)

In [13]:
for m in tupla_tupla:
    print(m)

(4, 5, 6)
(7, 8)

In [16]:
tupla = tuple('string')
print(tupla)

('s', 't', 'r', 'i', 'n', 'g')

In [2]:
tupla = tuple(['foo',[1,2,3],True])
print(tupla)

('foo', [1, 2, 3], True)

In [7]:
tupla[1].append(4)
print(tupla)

('foo', [1, 2, 3, 4], True)

In [10]:
tupla = tuple(['foo',[1,2,3],True])
print(tupla)

lista = list(tupla)
print(lista)

lista.insert(0, 'fiap')
print(lista)

('foo', [1, 2, 3], True)
['foo', [1, 2, 3], True]
['fiap', 'foo', [1, 2, 3], True]

In [12]:
tupla = tuple(['foo',[1,2,3],True])
print(tupla)

lista = list(tupla)
print(lista)

posicao_insercao = lista.index('foo') 
lista.insert(posicao_insercao, 'foo fighters')

tupla_nova = tuple(lista)
print(tupla_nova)

('foo', [1, 2, 3], True)
['foo', [1, 2, 3], True]
('foo fighters', 'foo', [1, 2, 3], True)

In [ ]:
(4, None, 'foo') + (6, 0) + ('fiap, 1')

In [ ]:
(4, None, 'foo') + 4

In [14]:
tupla = (100,1000,10000)

a,b,c = tupla

print(a)
print(b)
print(c)

100
1000
10000

In [ ]:
def nome_funcao(parametros):
    a = (20 + 50) / 2
    b = (20 + 50)
    return a, b

In [ ]:
#1- Crie uma tupla chamada frutas com os seguintes elementos: 'maca', 'banana', 'uva'
#2- Acesse o segundo elemento da tupla frutas
#3-Substitua o terceiro elemento da tupla frutas por 'manga' e armazene a tupla modificada
#em uma nova variavel chamada fruta_modificadas
#4-Concatene a tupla frutas_modificadas com a tupla('abacaxi','limao') e armazene o resultado
#em uma nova tupla chamada frutas_concatenadas.
#5- Verifique se o elemento 'uva' esta presente na tupla frutas_concatenadas.

In [ ]:
tupla = ('maca','banana','laranja','uva')
tupla = [1]
lista = list(tupla)

substitua = lista.index('uva') + 1

lista.insert(substitua, 'manga')
tp = tuple(lista)
print(tp)
tupla_final = tupla + ('abacaxi', 'limao')
print(tupla_final)

In [12]:
#Crie um algoritmo para calcular a media dos alunos abaixo.Utilize estrutura de repeticao e tuplas.
#[(Laura,85,90,88)
#(Paulo, 60,75,68)
#(Ana, 68,80,90)
#(Jose, 80,90,72)]

lista = [('Laura',85,90,88),
('Paulo', 60,75,68),
('Ana', 68,80,90),
('Jose', 80,90,72)]

for k in lista:
    nome, nota1, nota2, nota3 = k
    media = (nota1 + nota2 + nota3)/3
    print(nome, media)

Laura 87.66666666666667
Paulo 67.66666666666667
Ana 79.33333333333333
Jose 80.66666666666667

In [30]:
#Crie um programas para analise de despesas. Utilize estrutura de repeticao e tuplas.
#viagens,5000,15000,25000,98000
#restaurantes, 230,100,50,415
#transporte, 50,15,89,115

tupla = [('viagens',5000,15000,25000,98000),
('restaurantes', 230,100,50,415),
('transportes', 50,15,89,115)]

for k in tupla:
    nome, nota1, nota2, nota3, nota4 = k
    despesas = (nota1 + nota2 + nota3 + nota4)
    print(f'A despesa de {nome} ira dar no total: {despesas} reais')

A despesa de viagens ira dar no total: 143000 reais
A despesa de restaurantes ira dar no total: 795 reais
A despesa de transportes ira dar no total: 269 reais

In [31]:
#Crie um programa para catalogacao de livros. Utilize estrutura de repeticao e tuplas.

tupla_livros = [('O senhor dos aneis','J.R.R. Tolkien'), 
('O hobbit', 'J.R.R. Tolkien'),
('1984', 'George Orwell')]

for k in tupla_livros:
    livro1, livro2 = k
    catalogacao = (livro1 + livro2)
    print(f'{livro1}{livro2}')

O senhor dos aneisJ.R.R. Tolkien
O hobbitJ.R.R. Tolkien
1984George Orwell